body{
    background-color: #F8F8FF;
}
.form-div{
    width:90%;
    margin: auto;
    padding: 30px;
    border: 1px solid #e5e8ec;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form{
    width:50%;
    margin: auto;
    padding-top: 200px;
}
.errors{
    width: 30%;
    margin: auto;
    padding-top: 30px;
}
.apartment-list{
    width: 35%;
    float: right;
    margin: 30px;
}
.add-apartments{
    padding:20px;
    width: 20%;
    height: 400px;
    position: fixed;
}
.homepage-logo{
    color: #F8F8FF;
}
#appName{
    background-color: #262626;
}
.show-apartments-div{
    margin: auto;
    width: 100%;
    padding:20px;
}
.show-div{
    margin: auto;
    width: 100%;
    border: 1px solid #e5e8ec;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#rate-apartment-div{
    overflow: auto;
    float:right;
    position: relative;
    top:-45px;
}
.average-rating{
    overflow: auto;
    float:right;
    position: relative;
    top:-7px;
    left: 150px;
    color: orange;
    font-weight: border;
}
#center-show{
    width:1000px;
}
#reservation-table{
    width:1000px;
    margin: auto;
    border: 2px solid #e5e8ec;
    border-radius: 5px;
}
.checkoutDiv{
    margin: auto;
    width: 500px;
}
.pend-text{
    text-align: center;
}